In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [27]:
df = pd.read_csv('bitcoin.csv')

### EDA

In [28]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-04-22,53857.105469,55410.230469,50583.812500,51762.273438,51762.273438,74798630778
1,2021-04-23,51739.808594,52120.792969,47714.664063,51093.652344,51093.652344,86668667320
2,2021-04-24,51143.226563,51167.562500,48805.285156,50050.867188,50050.867188,49014494781
3,2021-04-25,50052.832031,50506.019531,47159.484375,49004.253906,49004.253906,46117114240
4,2021-04-26,49077.792969,54288.003906,48852.796875,54021.753906,54021.753906,58284039825

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       366 non-null    object
 1   Open       366 non-null    float64
 2   High       366 non-null    float64
 3   Low        366 non-null    float64
 4   Close      366 non-null    float64
 5   Adj Close  366 non-null    float64
 6   Volume     366 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 20.1+ KB

In [30]:
df.Date.astype('datetime64[ns]')

0     2021-04-22
1     2021-04-23
2     2021-04-24
3     2021-04-25
4     2021-04-26
         ...
361   2022-04-18
362   2022-04-19
363   2022-04-20
364   2022-04-21
365   2022-04-22
Name: Date, Length: 366, dtype: datetime64[ns]

In [31]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,366.000000,366.000000,366.000000,366.000000,366.000000,3.660000e+02
mean,45522.791597,46652.529633,44201.936950,45475.544282,45475.544282,3.502611e+10
std,8600.340060,8697.273763,8506.715530,8579.637457,8579.637457,1.404043e+10
min,29796.285156,31006.187500,28893.621094,29807.347656,29807.347656,1.373656e+10
25%,39111.136719,40091.232422,37812.997070,39113.262696,39113.262696,2.620404e+10
50%,43955.644532,45038.535157,42861.652344,43955.017579,43955.017579,3.255782e+10
75%,49991.458008,51170.421875,48614.049805,49928.602539,49928.602539,3.910701e+10
max,67549.734375,68789.625000,66382.062500,67566.828125,67566.828125,1.263581e+11

In [32]:
# Checking for missing values
df.isnull().sum().sum()

0

In [33]:
## Checking the last date recorded
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
361,2022-04-18,39721.203125,40986.320313,38696.191406,40826.214844,40826.214844,33705182072
362,2022-04-19,40828.175781,41672.960938,40618.632813,41502.750000,41502.750000,25303206547
363,2022-04-20,41501.746094,42126.300781,40961.097656,41374.378906,41374.378906,27819532341
364,2022-04-21,41371.515625,42893.582031,40063.828125,40527.363281,40527.363281,35372786395
365,2022-04-22,40404.449219,40777.757813,40263.335938,40488.945313,40488.945313,38605385728

## The prizes were recorded for one years starting 22-04-2021 to 22-04-2022

In [34]:
# Printing the start date and End date of the dataset

start_date=df.iloc[0][0]
end_date=df.iloc[-1][0]
print("Start date ",start_date)
print("End date ",end_date)

Start date  2021-04-22
End date  2022-04-22

In [ ]:
axes = plt.gca()

# pass the axes object to plot function
season.plot(kind='line',x='Date', y='Close', ax=axes,title="Line Graph for close,open,high and low price");
season.plot(kind='line',x='Date',  y='Open', ax=axes);
season.plot(kind='line',x='Date',  y='High', ax=axes);
season.plot(kind='line',x='Date',  y='Low', ax=axes);